* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

header * {
    text-decoration: none;
}
body{
    background-color:aliceblue;
}

button {
    cursor: pointer;
}

nav {
    display: flex;
    height: 70px;
    width: 100%;
    background-color: antiquewhite;
    text-decoration: none;
    justify-items: center;
    margin-bottom: 0px;
    color: #000;
}

.navbar {
    text-decoration: none;
}

.navbar img {
    padding: 0px;
    margin-top: 0px;
    margin-right: 10px;
    margin-left: 10px;
    height: 80px;
    width: 80px;
}

.menu,
.menu2 {
    display: inline-block;
    text-decoration: none;
    height: 100%;
    width: 100%;
}

.menu ul,
.menu2 ul {
    display: flex;
    text-decoration: none;
}

.menu li {
    margin: 12px;
    padding: 12px 12px;
    text-decoration: none;
}

.menu .drop-down li {
    margin: 1px;
    padding: 3px 1px;
    text-decoration: none;
}

.menu .drop-down>ul {
    z-index: 99;
    display: block;
    position: absolute;
    visibility: hidden;
    padding: 6px 0px;
    text-decoration: none;
}

.menu .drop-down:hover>ul {
    background-color: blanchedalmond;
    opacity: 1;
    visibility: visible;
    margin-top: 3px;
    text-decoration: none;
}

.menu2 {
    text-align: center;
    margin-left: 30%;
}

.menu2 .btn {
    font-weight: bolder;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    background-color: aliceblue;
    margin: 20px 5px;
    padding: 3px 8px;
    border-radius: 10px;
    border-width: 2px;
}
h2{
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
}
.services {
    font-size: large;
    justify-content: center;
    margin : 40px 60px;
    text-align: center;
}

.service  {
    background-color: #fff;
    box-shadow: 2px 2px 5px #ccc;
    margin: 20px ;
    padding: 20px;
    width: 90%;
}

.services  h3 {
    font-size: 24px;
    margin-top: 20px;
}

.services p {
    margin-top: 10px;
    margin-bottom:20px;
}
.service{
    text-align: center;
}
.service img{
    height: 100%;
    width: 50%;
}
.contact {
  background-color: #fff;
    box-shadow: 2px 2px 5px #ccc;
    width: 90%;
}
.contact h2 {
    font-family: Barlow Condensed;
    font-size: 55px;
    color: #191d34;
  }

  .con{
    display:inline-flex;
    margin: 5%;
    width: 90%;
}
.contact h1{
  letter-spacing: 1px;
    color: darkolivegreen;
    font-size: 40px;
    margin-bottom: 30px;
    margin-top: 10px;
}
.address{
    width: 50%;
    color: darkolivegreen;
    margin: 10%;
}
.details{
    font-size: 20px;
    margin: 20px;
    padding: 10px 0px;
}
.form{
  background-color: #f1f1f1;
    width: 50%;
    margin: 10% 1%;
}

  input{
    height: 50px;
    width: 90%;
    border: none;
    border-bottom: 2px solid grey;
    margin: 10px 0px;
  }
  .text input{
    height: 150px;
  }
  .form .btn{
    background-color:darkkhaki;
    color: white;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 40px;
    width: 60%;
    border: none;
  }
footer{
    background-color: antiquewhite;
    width: 100%;
}
footer h1{
    margin: 50px 20px 0px 0px;
    font-size: 40px;
    text-align: justify;
}
footer h4{
    font-size: 25px;
    margin-bottom: 60px;
    padding-left: 40px;
}
footer .foot{
    display: flex;
}
footer .name{
  margin-left: 50px;
    justify-items: left;
    text-align: left;
    width: 50%;
    display:block;
}
footer .icon{
    width: 50%;
    text-align: right;
    float: right;
    margin: 60px  0px 20px 40px;
    padding-right: 40px ;
}
footer .fa {
    padding: 10px;
    margin-left: 10px;
    font-size: 25px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  .fa-instagram {
    background: #125688;
    color: white;
  }
  footer .fa-copyright{
    font-size: 15px;
    margin-right: 0px;
    padding-right: 0px;
  }
  footer .copy{
    text-align: center;
    font-size: 15px;
    padding-bottom: 8px;
  }
  
.modal input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  .modal .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  
 .imgcontainer {
    z-index: 1;
    text-align: center;
    margin: 10px 0 42px 0;
    position: relative;
  }
  
  .modal .containers {
    padding: 6px 16px;
  }
  
 .modal button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: medium;
  }
  
 .modal button:hover {
    opacity: 0.8;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  
  .modal {
    display: none;
    position: absolute; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow:auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
    font-size: larger;
  }
  .container-reg{
    margin: 15px;
    width: 100%;
  }
  .modal a{
    text-decoration: underline;
  }
  .modal-content {
    background-color: #fefefe;
    margin: 2% 30% ; 
    border: 1px solid #888;
    width: 40%; 
  }
  
  
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }
  .modals {
    box-sizing: border-box;
    display: none;
    position: absolute; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow:auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    font-size: larger;
  }
  
  
  .modals .container {
    padding:5px 16px;
    background-color: white;
  }
  .modals h1{
    font-size: xx-large;
    margin: 0px 0 20px 0;
  }
 .modals input[type=text], input[type=password]{
    width: 90%;
    padding: 10px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  .modals-content {
    background-color: #fefefe;
    margin: 0 32% ; 
    border: 1px solid #888;
    width: 35%; 
    height: 20%;
  }
 .modals input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  
  .registerbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .registerbtn:hover {
    opacity: 1;
  }
  
  
  .modals a {
    text-decoration: underline;
  }
  
  
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }
  .modals .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .modals .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }